body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.spambutton {
  left: -285px;
  height: 100%;
  position: fixed;
  width: 285px;
}

.lpfgt1 {
  src="7978360.png";
  left: 0;
  height: 285px;
  position: fixed;
  width: 285px;
}

.lpfgt1 {
  src="7978361.pdf";
  left: 0;
  height: 285px;
  position: fixed;
  width: 285px;
}
