html, body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

.menu {
  background-color: #FFEE00;
  padding-right: 0px;
  height: 100;
  width: 100%;
}

.listButton {
  height: 100;
  width: 100;
}
